html {
   height: 100%;
  box-sizing: border-box;
    
  }
  *,
*:before,
*:after {
  box-sizing: inherit;
}

::placeholder{
    color: #fff;
}
.p_label{
    color: #2171b9;
}
  body {
    position: relative;
    margin: 0;
    padding-bottom: 1rem;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
  
  }

  .wrapper{
    margin: 0px;
    padding: 0px;
}
.footer_section{
    background-color: #2171b9;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.label_question{
    font-size: 14px;
    margin-bottom: 0px;
}
.product_heading_top{
    font-size: 15px;
}
.label_heading{
    font-size: 15px;
    font-weight: 600;
    color: #2171b9;
    text-align: center;
}
.error_font{
    font-size: 12px;
    color:red;
    font-weight: 600;
    
}
.error_bg{
    
    
}
.error_page_height{
    height: 100vh;
    background-color: #e5e5e5;
}
.radio-toolbar{
    margin-top: 5px;
    margin-bottom: 20px;
}
.energy_demand_text{
    width: 100%;
}
.logo p{
    color:red;
    font-size: 50px;
}
.logo{
    position: absolute;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.home_box{
    border: 2px solid #fff;
    margin-top: -150px;
    position: relative;    
    margin-bottom: 0px;
}
.home_desc{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.logo_section{
    height:70px;
}
.heading_border{
    border-bottom: 3px solid #b1afaf36;
}

.home_text{
    font-weight: 700;
    color: #fff;
    margin-top:10px;
}
.form_heading{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#2171b9;
}
.foot_year{
    color: #fff !important;
    font-size: 14px;
}
.small_heading{
  
    color:#000;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 20px;
}
.img_compass{
  
    margin-top: 0px;

}
.radio_image:hover img{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    }
  
.radio_image img{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 1;
    opacity: 1;
}

.direction_drop_box{
    background-color: #2171b9;
    color:#fff;
    padding: 5px 5px;  
     
    font-size: 14px;
}
.c_label{
    color:#000;
    font-size: 15px; 
    margin-bottom: 0px;
}


.year_box{
    margin-top: 50px;
}
.house_year_drop_box{
   color:#fff;
   background-color: #2171b9;
   border: none;
   font-size: 14px;   
   padding: 3px; 
   
}

.radio_box{
    border: 2px solid grey;   
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.radio_image{
    margin-top: 5px;
    text-align: center;
}

.highlight {
   
    color: #fff;
    font-weight: 600;
    background-color: #1554a0;
 }
 .construction_year{
    margin-left: 25px;
    padding-top: 65px;
 }
/* Radio Button */
input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
    margin-top: 5px;
    margin-left: 20px;
}
input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background:blue;
    
}



/* input[type="radio"]:checked+label{ background-color: red; }  */

.radio-toolbar input[type="radio"]:checked + .radio_box{ 
    background-color:#bbb;
}


.radio_label{
    position: absolute;
    top: 5px;
    margin-left: 5px;
    font-size: 15px;
}

/* Radio button */


.p_text_box{
    text-align: center;
    border: 2px solid #2171b9;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 60px;
}
.post_code_text_box{
    width: 140px;
    background-color: #2171b9;
    color: #fff;
    border: none;
    letter-spacing: 12px;
    
}
.d_direction_div{
    text-align: center;
    border: 2px solid #2171b9;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 60px;
}
.l_living_box{
    text-align: center;
}
.l_living_label{
    color: #2171b9;
    font-size: 15px;
}
.living_box_house{
    border: 2px solid #2171b9;
    border-radius: 15px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}                               
.living_text_box{
    background-color: #2171b9;
    color: #fff;
    border: none;
    letter-spacing: 12px;
    
}
.living_area_question{
    margin-top: 240px;
    text-align: left;
}


/* .living_box{
    float: right;
    margin-right: 175px;
    margin-top: 260px;
    background-color: #fff;
    padding: 20px 15px 10px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 14px;
} */
input::placeholder {
    font-size: 12px;
  }
.living_label{
    color: #000;
    font-weight: 600;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 20px;
}

.living_textbox{
    margin-left: 10px;
    background-color: transparent;
    color: #000;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    width: 100px;
    

}

.progress_bar_line{
    border: 1px solid #000;
    border-radius: 10px;
}

.progress_section{
    margin-top:10px;
    margin-bottom: 30px;
}
.character_img{
    margin-top: 60px;
    margin-left: 0px;
}


.next_section{
    margin: auto;
    width: 50%;
    float: right;
}

.rating_div{
   padding: 10px 10px 0px 0px;
   background-color: #fff;

}
.person_form{
    display: inline-flex;
    margin-top: 340px;
    border: 1px solid grey;
}
.person_box{
    margin: auto;
    width: 50%;
   
}
.person_ic{
    font-size: 20px;
   
}
.dv-star-rating-full-star{
    color:  blue !important;
}
.dv-star-rating-star{
    color:red ;
}

.label_box_person{
    background-color: #2171b9;
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
}
.person_icon{
    margin-left: 18px;
    margin-top: 5px;
}
.power_label{
    padding: 15px 47px 15px 47px;
    margin-bottom: 0px;
    background-color: #2171b9;
    color: #fff;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
}
.person_label{
    padding: 15px 40px 15px 40px;
    margin-bottom: 0px;
    background-color: #2171b9;
    color: #fff;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
}
.kwh{
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding: 0px 30px 0px 30px;
}
.power_text_consumption{
    margin-left: 2px;
    margin-right: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding: 0px 30px 0px 30px;
    
}
.p_consuption{
    display: inline-flex;
    padding: 0px;
    border: 1px solid;
    background-color: #fff;
}
.p_box{
    /* margin: auto;
    width: 50%; */
    border: 1px solid;
    display: inline-flex;
  
    margin-top: 250px;
}
.p_form_label{
    padding: 15px 20px 15px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: #2171b9;
}
.person_count{   
    background-color: #2171b9;
}

.p_icon{
    margin: auto;
    display: inline-flex;
    padding: 0px 30px 0px 30px;
   
}
.icon{
    margin-left: 10px;
    margin-right: 10px;
}
.form_char_img{
    margin-left: -50px;
    position: relative;
    top: 75px;
}
.back_btn_form_2{
    margin-top: 0px;
    position: relative;
    z-index: 99999;
}
.power_consumption{
    width: 75px;
    font-size: 13px;
    margin-left: 20px;
    letter-spacing: 9px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: none;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
}
.power_text{
    font-size: 14px;
    margin-bottom: 6px;
}
.power_meter_box{
    padding: 5px;
    margin-left: 12px;
    width: 100%;
    position: relative;
    top: 50px;
}
.electric_symbol_class{
    text-align: center;
   
}
.red_number{
    float: right;
    margin-right: 16px;
    background-color: red;
    padding: 7px;
    margin-top: -11px;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}
.blink-image{   
    margin-top: 130px;
}
/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.energy_form{
    background-color: #fff;
    padding-top: 10px;
    margin-top: 5px;   
    box-shadow: 0px 2px 12px 6px #d9d9d9;
    margin-left: 10px;
    margin-right: 10px;

}
.enery_heading{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
   color: #2171b9;

}
.radio_value{
    text-align: left;
}
.label_demand{
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
.label_demand_value_label{
    font-size: 12px;
    color: #000;
    
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width:6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-top: 16px solid #2171b9;
    border-bottom: 16px solid #2171b9;
   
    /* background-image: url('../components/images/loader.gif'); */
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.prod_res{
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}
#disable_gas{
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
   
}
.character_3{
    margin-top: 120px;
    margin-left: 70px;
}
.character_4{
    margin-top: 100px;
    margin-left: 80px;
}
.budget_font{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.budget_icon{
    width:100%;
}

.coin_img{
    -webkit-animation: coin 5s infinite linear;
    animation: coin 5s infinite linear;
}

@-webkit-keyframes coin {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes coin {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

.budget_price{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: center
}


.budget_box{
    width:100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form_btn{
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.btn_submit{
    background-color: #2171b9;
    color:#fff;
}


.btn_next{
    background-color: #2171b9;
    color: #fff;
    border: 1px solid #2171b9;
    box-shadow: 0 2px 12px 5px #d9d9d9;
}
.pull_right{
    float: right;
    border-radius: 5px;
}
.pull_left{
    float: left;
    border-radius: 5px;
}

.product_heading{
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
}
.product_heading .row{
   

}
.product_img{
    height: auto;
}

.product_box_1_1{
    background-color: #79b4d6;  
   
    border-bottom: 2px solid #000;
}
.product_box_1_2{
    background-color: #79b4d6;

}
.product_box_1_3{
    background-color: #9cccee;
    font-weight: 500;

}


.product_box_2_1{
    background-color: #84c993;
 
    border-bottom: 2px solid #000;
}
.product_box_2_2{
    background-color: #84c993;
   
}
.product_box_2_3{
    background-color: #a8d7b0;
    font-weight: 500;
  
}

.product_box_3_1{
    background-color: #d8ba8b;
 
    border-bottom: 2px solid #000;
}
.product_box_3_2{
    background-color: #d8ba8b;
  
}
.product_box_3_3{
    background-color: #e3d0a7;
    font-weight: 500;
 
}
.table thead th{
    text-align: center;
}
.p_img{
    width: 100%;
}
.graph_img{
    text-align: center;
   
}
.product_recommendation{
    margin-top: 20px;
    margin-bottom: 20px;
}
.graph_table{
    margin-top:30px;
    margin-bottom: 100px;
}
.graph_table_text tr td{
    font-size: 14px;
}
.tab_box_1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #1554a0;
    opacity: 0.3;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
}
.tab_box_2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #1d8140;
    opacity: 0.3;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
}
.tab_box_3{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #bd902d;
    opacity: 0.3;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
}

.Graphactive .tab_box_3{
    opacity: 1;
  }
  .Graphactive .tab_box_2{
    opacity: 1;
  }
  .Graphactive .tab_box_1{
    opacity: 1;
  }
.tab_box_1 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.tab_box_2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.tab_box_3 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.tab_box_1 p a{
    color: #fff;
  }

.tab_box_2 p a{
    color: #fff;
  }

.tab_box_3 p a{
  color: #fff;
}
td{
    font-size: 14px;
    width: 200px;
    padding: 10px;
}
tr td{
    height:100px
}
.table-borderless{
    margin-top: -1px;
   
}
.table td, .table th{
    border-top: 1px solid #e0eefd59;
    padding: 7px;
}
.price_cost{
    text-align: right;
}
.graph_box{
    width: 100%;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
    box-shadow:0 0 5px 0px gray inset;
}
.graph_example{
    margin: 30px;
}

.graph_pic{
    /* margin:20px 0px 20px 0px; */
}

.react-tabs__tab--selected{
    border-bottom:3px solid #2171b9;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.react-tabs__tab-list{
    border-bottom:2px solid #dad9d9;
}
.react-tabs__tab{
    margin-left: 100px;
    font-size: 15px;
}


.footer_links a{
    color:#fff;
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
}
.copyrights a{
    float: right;
}
.graph_btn{
    margin-bottom: 50px;
}



/* Graph Styles */

.titleTextStyle{
    color: red;
    
}
                  


@media only screen and (max-width: 420px) {
   .hide_tab{
       display: none;
   }
   .construction_year{
       text-align: center;
   }
   .radio_box{
       width: auto;
   }
   .living_area_question{
    margin-top:190px;
   }
   .living_box_house{
    
    padding-top: 5px;
    padding-bottom: 5px;
   }
   .living_text_box{
       font-size: 14px;
       width: 100%;
       margin: 0px;
       text-align: center;
   }
 .person_detail_box{
    background-image: none !important;
 }
 .p_icon span{
     display: inline-flex !important;
 }
 .p_icon{
    padding: 0px;
 }
 .icon{
     margin-left: 5px;
     margin-right: 5px;
 }
 .p_box{
     margin-top: 10px;
 }
 .p_form_label{
    padding: 2px;
 }
 .person_label{
     padding: 5px;
     margin: 0px;
 }
 .power_label{
    padding: 7px;
}
.power_text_consumption{
    padding: 0px;
    margin: 0px;
}

.kwh{
    padding: 0px;
}

   
    .form_1_bg_1{
        background-image: none !important;
    }
   
   
    
    
   
    /* .next_section{
        margin-bottom: 10px;
        margin-top: 25px;
        text-align: center;
        width: 100%;
    } */
    .radio_box{
        margin-bottom: 10px;
    }
    .char_img_2{
        display:none;
    }
    .power_meter_box{
        padding: 0px;
        text-align: center;
        margin: 0px;
        left: -20px;
    }
    .p_icon{
        margin-left: 0px;
        margin-right: 0px;
    }
    .character_3{
        display: none;
    }
    .form_3_bg{
        height: auto !important;
    }
    .form_4_bg{
        height: auto !important;
    }
    .character_4{
        display: none;
    }
    .footer_section{
        display: none;
    }
}

@media only screen and (max-width:1024px) {
    
    .form_4_bg{
        height: 429px;
    }
    
   
    .power_text_consumption{
        padding: 0px;
    }
    .p_icon{
        padding: 0px;
    }
 
} 




 @media (min-width: 768px) and (max-width: 991px) { 
     .form_1_bg_1{
         background-position: center;
     }
    
     .living_area_question{
        margin-top: 220px;
     }
     .construction_year{
         text-align: center;
     }
     .person_label{
         padding: 5px;
         margin: 0px;
     }
     .icon{
         margin-left: 5px;
         margin-right: 5px;
     }
     .p_icon{
         padding: 0px;
     }
     .p_form_label{
        padding: 5px 5px 5px 5px;
     }
     .power_label{
        padding: 5px;
        margin: 0px;
     }
     .power_text_consumption{
         padding: 0px;
         width: 155px;
     }
     .kwh{
         padding: 0px;
         margin: 0px;
     }
    .form_1_bg{
        background-size: contain;
    }
    .form_1_bg_1{
        margin-bottom: 100px;
    }
    .postbox_img{
        display:none;
        
    }
    .living_box{
        margin-right: 100px;
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 10px;
    }
    .radio_box{
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    .footer_section{
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .post_textbox{
        letter-spacing: 5px;
    }
    .post_text_box{
      width:100%;
    }
    .year_label{
        margin-left: 100px;

    }
 
    .footer_section{
        display: none;
    }
  }



 


@media screen and (max-width: 736px) and (orientation:landscape) {
    .year_box{
        text-align: center;
        display: inline-grid;
        margin: 50px 0px 20px 200px;
    }
    .living_box{
        padding: 8px;
        margin-right: 80px;
    }
    .footer_section{
        display: none;
    }
    .form_1_bg {
        margin-top: 120px;
        
    }
    .form_1_bg_1{
        background-image: none !important;
    }
}

